@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100svh;
  word-break: normal;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

button:focus {
  outline: none;
  box-shadow: none;
}

select {
  background: none;
}

img {
  backface-visibility: hidden;
}

.BgNoise {
  background: url('/noise.gif') repeat;
  opacity: 0.2;
  mix-blend-mode: hard-light;
  filter: brightness(112%);
}
